

#footer_bottom{
    height:289px;
    background: #ebebeb;
    .footer_bottom_cont{
        height:248px;
        padding-top:41px;
        background: #ebebeb;
        .img_logo{
            float: left;
            width:264px;
            height:248px;
            img{
                width: 182px;
                height: 32px;
            }
        }
        .footer_box_right{
            float: left;
            width:936px;
            height:206px;
            .hd{
                margin-top: 10px;
                height:18px;
                line-height: 18px;
                padding:0 3px;
                .title{
                    font-size: 12px;
                    color:#888 ;
                }
                .title:first-child{
                    padding-left: 0;
                }
            }
            .hd:first-child{
                margin-top:0;
            }
            .main-foot{
                margin-top:10px;
            }
            .main-foot,.ft{
                height:24px;
                line-height: 24px;
                
                font-size: 12px;
                .summary{
                    margin-right:16px ;
                    color: #bbb;
                }
                .desc{
                    margin-right:16px ;
                    color: #bbb;
                }
                .desc:last-child{
                    margin-right: 0;
                }
            }
            .cert{
                height:30px;
                margin-top: 5px;
                a{
                    float: left;
                    display: block;
                    width:73px;
                    height:100%;
                    margin-right: 5px;
                    
                }
                .cert_1{
                    width:73px;
                    background: url(https://img.alicdn.com/tfs/TB1cvJIcAT2gK0jSZPcXXcKkpXa-826-226.png);
                    background-position: 0 0;
                }
                .cert_3{
                    width:73px;
                    background: url(https://img.alicdn.com/tfs/TB1cvJIcAT2gK0jSZPcXXcKkpXa-826-226.png);
                    background-position: -175px 0;
                }
                .cert_5{
                    width:85px;
                    background: url(https://img.alicdn.com/tfs/TB1cvJIcAT2gK0jSZPcXXcKkpXa-826-226.png);
                    background-position: -334px 0;
                }
                .cert_7{
                    width:171px;
                    background: url(https://img.alicdn.com/tfs/TB1cvJIcAT2gK0jSZPcXXcKkpXa-826-226.png);
                    background-position: -535px 0;
                }
                .cert_9{
                    width:111px;
                    background: url(https://img.alicdn.com/tfs/TB1cvJIcAT2gK0jSZPcXXcKkpXa-826-226.png);
                    background-position: -715px 0;
                }
            }
        }
    }
}