#header-search{
    
    height:73px;
    padding:40px 0 0;
    margin:0px 0 27px;
    background:#fff;
    background: linear-gradient( #f40b24, #F52718);
    .header-search-cont{
        position: relative;
        height:73px;
        // background: #f40b34;
        // logo
        .logo{
            width:210px;
            height:92px;
            position: absolute;
            left: 0;
            bottom:0;
            // 设置图片大小
            .logo_width{
                position: absolute;
                width: 210px;
                height: 92px;
            }
            .logo-url{
                width: 100%;
                height: 100%;
                display: inline-block;
                position: absolute;
                z-index: 99;
            }
        }

        // 搜索框body
        .searchbox{
            height:73px;
            position: relative;
            width: 768px;
            margin-left: 216px;
            .search-father{
                height:40px;
            }
            .next-search{
                width:768px;
                height:44px;
                position: relative;
                .world{
                    width: 36px;
                    height: 37px;
                    position: absolute;
                    left: 4px;
                    top: 4px;
                }
                .next-input-group{
                    display: inline-table;
                    border-collapse: separate;
                    border-spacing: 0;
                    line-height: 0;
                    width: 100%;
                    height:44px;
                    .next-search-left{
                        float: left;
                        width:622px;
                        height:40px;
                        border:2px solid #ff2900;
                        border-right:none;
                        .next-search-left-left{
                            float:left;
                            width:109px;
                            height:40px;
                            background: #fff; 
                            .next-search-left-left-cont{
                                width:108px;
                                height:40px;
                                border-right: 1px solid #ddd ;
                                .input-msg{
                                    float: right;
                                    width:64px;
                                    height:40px;
                                    line-height: 40px;
                                    background: #fff;
                                    position: relative;
                                    .input-msg-val{
                                        color:#222;
                                        font-size: 14px;
                                    }
                                    .input-msg-col{
                                        display: inline-block;
                                        widows: 12px;;
                                        height:12px;
                                        padding:0 10px 0 0;
                                        
                                    }
                                    .sub-menu{
                                        display: none;
                                        position: absolute;
                                        right:0;
                                        top:40px;
                                        width:106px;
                                        height:128px;
                                        padding:8px 0;
                                        background: #fff;
                                        border: 2px solid #ff2900;
                                        z-index: 10000;
                                        li{
                                            width:68px;
                                            height:32px;
                                            line-height: 32px;
                                            padding:0 20px;
                                            a{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                                .input-msg:hover{
                                    cursor: pointer;
                                }
                                .input-border{
                                    widows: 1px;
                                }
                            }
                        }
                        .next-search-left-right{
                            float: left;
                            width:513px;
                            height:40px;
                            .next-medium{
                                width:513px;
                                height:40px;
                                position: relative;
                                input{
                                    width:460px;
                                    height:40px;
                                    border: none;
                                    padding: 0 45px 0 8px;
                                }
                                .sub-menu{
                                    display: none;
                                    position: absolute;
                                    z-index: 10000;
                                    left: 0;
                                    top:40px;
                                    width:449px;
                                    height:200px;
                                    padding:15px 30px 30px;
                                    border: 2px solid #ff2900;
                                    background: #fff;
                                    .searched-words{
                                        width:100%;
                                        height:84px;
                                        margin-bottom: 10px;    
                                        h1{
                                            width:100%;
                                            height:36px;
                                            line-height: 36px;
                                            font-size: 12px;
                                            color: #999;
                                            margin-bottom: 10px;
    
                                        }
                                        .keywords-body{
                                            width:100%;
                                            height:38px;
                                            .words-searched{
                                                display: inline-block;
                                                height:28px;
                                                line-height: 28px;
                                                text-align: center;
                                                color: #ff2900;
                                                font-size: 12px;
                                                padding:0 15px;
                                                margin:0 10px 10px 0;
                                                background: #f6f6f6;
                                                border:  1px solid #e5e5e5;
                                            }
                                        }
                                    }
                                    h2{
                                        width:100%;
                                        height:36px;
                                        line-height: 36px;
                                        font-size: 12px;
                                        color: #999;
                                        margin-bottom: 10px;
                                    }
                                    .keywords-body-down{
                                        min-height:60px;
                                        line-height: 30px;
                                        .link-words{
                                            // display: inline-block;
                                            float: left;
                                            font-size: 12px;
                                            height:12px;
                                            padding:0 15px 0 0;
                                            margin-bottom: 15px;

                                        }
                                    }
                                    .search-rank{
                                        font-size: 12px;
                                        position: absolute;
                                        right:30px;
                                        bottom: 30px;
                                    }
                                }
                            }
                            
                        }                       
                    }
                    .next-search-right{
                        border:2px solid #ff2900;
                        border-left: none;
                        float:right;
                        width:142px;
                        height:40px;
                        background: #dd2900;
                        button{
                            border: none;
                            width:100%;
                            height:100%;
                            background: #dd2900;
                            span{
                                color:#fff;
                                font-size: 16px;
                                font-weight:700 ;
                            }
                        }
                    }
                }
            }
            footer{
                width:768px;
                height:15px;
                margin-top:13px;
                .link-hot-word{
                    font-size: 12px;
                    color:#fff;
                    margin:0 10px 0 0;
                }
            }
            
        }
        // 二维码
        .app-qrcode{
            position: absolute;
            right: 0;
            top: 0;
            width:96px;
            height:73px;
            .img-box{
                width:96px;
                height:73px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}
// 搜索框底部的导航
#header-nav{
    .header-nav-cont{
        height:24px;
        ul{
            width:1200px;
            height:24px;
            position: absolute;
            li{
                float: left;
                height:24px;
                line-height: 24px;
                margin-left: 16px;
                margin-right: 6px;
                padding-left: 10px;
                padding-right: 10px;
                // display: inline-block;
                text-align: center;
                font-weight: bold;
                a{
                    color: #fff;
                }
            }
            li:hover{
                background: #ffbc1c;
                a{
                    color: #fff;
                }
                
            }
            .active{
                padding: 0;
                width: 60px;
                letter-spacing: 0;
                line-height: 24px;
                background: #ff2900;
                margin: 0 10px 0 0;
            }
        }
    }
}